<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
  <form action = "http://localhost:5000/Shop" method = "post">
        <table>
          <tr><td>Itemname</td>
          <td><input type ="text" name ="item_name"></td></tr>
          <tr><td>Itemid</td>
          <td><input type ="text" name ="item_id"></td></tr>
          <tr><td>Quantity</td>
          <td><input type ="text" name ="quantity"></td></tr>
          <tr><td>Price</td>
          <td><input type ="text" name ="price"></td></tr>
          <tr><td><input type = "submit"></td></tr>
        </table>
      </form>
</body>
</html>